* {
  box-sizing: border-box;
}
body {
  max-width: 80%;
  margin: 0.1em;
}
h2 {
  font-size: 0.7em;
}
li:hover {
  background: gray;
}
#question {
  font-size: 1.3em;
}
.red {
  background: red.
}
.green {
  background: green;
}
