* {
  box-sizing: border-box;
}
body {
  max-width: 80%;
  margin: 0.1em;
}
h2 {
  font-size: 0.7em;
}
li {
  line-height: 1.5em;
  width: 50%;
}
li:hover {
  background: lightgray;
}
.larger {
  font-size: 1.3em;
}
.red {
  background: red;
}
.green {
  background: lightgreen;
}
